<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Товары</title>
    <th:block th:insert="common.html :: head"/>
</head>
<body>
<div th:insert="common.html :: bootstrapjs"/>
<div th:insert="common.html :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="/addcategory" method="post">
                <div class="col-sm-10">
                    <label for="name">Добавить категорию</label><br>
                    <input class="form-control" id="name" name="name" type="text">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </div>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            </form>
        </div>
        <div class="col">
            <form action="/addpricecategory" method="post">
                <div class="col-sm-10">
                    <label for="title">Добавить ценовую категорию</label><br>
                    <input class="form-control" id="title" name="title" type="text">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </div>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-dark table-hover" id="categoriestable">
                <thead>
                <tr>
                    <th scope="col">Айди</th>
                    <th scope="col">Категории меню</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody th:each="category : ${itemcategories}">
                <tr>
                    <th scope="row" th:text="${category.getId()}"/>
                    <td th:text="${category.getName()}"/>
                    <td><a th:href="${'/removecategory?id=' + category.getId()}">Удалить</a></td>
                </tr>
                </tbody>
            </table>
            <b>Перед удалением категории измените/удалите весь товар принадлежащий к ней, иначе категория не
                удалится</b>
        </div>
        <div class="col">
            <table class="table table-striped table-dark table-hover" id="pricecategoriestable">
                <thead>
                <tr>
                    <th scope="col">Айди</th>
                    <th scope="col">Ценовые категории</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody th:each="category : ${pricecategories}">
                <tr>
                    <th scope="row" th:text="${category.getId()}"/>
                    <td th:text="${category.getTitle()}"/>
                    <td><a th:href="${'/removepricecategory?id=' + category.getId()}">Удалить</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>