<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Товары</title>
    <th:block th:insert="common.html :: head"/>
</head>
<body>
<div th:insert="common.html :: bootstrapjs"/>
<div th:insert="common.html :: navbar"/>
<script src="/js/rowlink.js"></script>

<table class="table table-striped table-dark table-hover" id="orderstable">
    <thead>
    <tr>
        <th scope="col">Айди</th>
        <th scope="col">Название</th>
        <th scope="col">Категория</th>
        <th scope="col">Описание</th>
    </tr>
    </thead>
    <tbody th:each="food : ${foodList}">
    <tr th:data-href="${'/f/' + food.getId()}">
        <th scope="row" th:text="${food.getId()}"/>
        <td th:text="${food.getTitle()}"/>
        <td th:text="${food.getCategory().getName()}"/>
        <td th:text="${food.getDescription()}"/>
    </tr>
    </tbody>
</table>
<script>
    rowlink();
</script>
</body>
</html>