<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заказы</title>
    <th:block th:insert="common.html :: head"/>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="/js/stomp.js"></script>
</head>
<body>
<div th:insert="common.html :: bootstrapjs"/>
<div th:insert="common.html :: navbar"/>
<script src="/js/rowlink.js"></script>
<script src="/js/websocket.js"></script>

<table class="table table-striped table-dark table-hover" id="orderstable">
    <thead>
    <tr>
        <th scope="col">Номер заказа</th>
        <th scope="col">Имя заказчика</th>
        <th scope="col">Статус заказа</th>
        <th scope="col">Способ оплаты</th>
        <th scope="col">Дата и время оформления/оплаты заказа</th>
    </tr>
    </thead>
    <tbody th:each="order : ${orders}">
    <tr th:data-href="${'/o/' + order.getId()}">
        <th scope="row" th:text="${order.getId()}"/>
        <td th:text="${order.getOrdererName()}"/>
        <td th:text="${order.getOrderStatus()}"/>
        <td th:text="${order.getPaymentMethod()}"/>
        <td th:text="${order.getDateTime()}"/>
    </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination">
        <th:block th:each="i : ${#numbers.sequence(1, ordersCount / 20)}">
            <div th:switch="${i}">
                <li class="page-item active" th:case="${currentPage}"><a class="page-link"
                                                                         th:href="${'/orders?page=' + i}"
                                                                         th:text="${i}"></a></li>
                <div th:case="${0}"/>
                <li class="page-item" th:case="*"><a class="page-link" th:href="${'/orders?page=' + i}"
                                                     th:text="${i}"></a></li>

            </div>
        </th:block>
    </ul>
</nav>
<script>
    rowlink();
    connect();
</script>
</body>
</html>